[Unit]
Description=disable atkbd

[Service]
ExecStart=bash -c "echo 'cGVhY2gK' | base64 -d | sudo -S modprobe -r atkbd"

[Install]
WantedBy=default.target
